<ion-header>
  <ion-toolbar>
    <ion-title>New Course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input formControlName="Title" placeholder=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input formControlName="Description" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Teacher Name</ion-label>
            <ion-input formControlName="TeacherName" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Subject</ion-label>
            <ion-input formControlName="Subject" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button color="primary" expand="block" fill="solid" (click)="add()">Log In</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>    
  </form>
</ion-content>
