<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Control Panel</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openPetitionModal()" > Petitions </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

  

  <h1> Your Courses </h1>
  <ion-list>
    <ion-card *ngFor="let item of myCourses, let i = index">
      <ion-card-title> {{item.Title}} </ion-card-title>
      <ion-card-content> Description :  {{item.Description}} </ion-card-content>
      <ion-card-content> Teacher Name : {{item.TeacherName}} </ion-card-content>
      <ion-card-content> Subject : {{item.Subject}} </ion-card-content>
      <ion-card-content> Creation Date : {{item.CreationDate}} </ion-card-content>
      <ion-card-content> Days : {{item.Days}} </ion-card-content>
      <ion-button horizontal="end" fill="clear" size="small" color="danger" (click) = "remove(i)" > Remove </ion-button>
      <ion-button horizontal="end" fill="clear" size="small" color="secondary" (click) = "openUpdateModal(item)" > Update </ion-button>
      <ion-button horizontal="end" fill="clear" size="small" color="secondary"  (click) = "enrolled(item)"> View Enrolled </ion-button>
    </ion-card>
  </ion-list>

  <ion-row>
    <ion-col size="12">
      <ion-button color="medium" expand="block" fill="solid" (click)="openAddModal()">Add Course</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
